.comment-header {
    font-size: 1.4rem;
    font-weight: 600;
}

.comment-area-all {
    padding-left: 3rem;
    padding-right: 3rem;
}

.comment-area-person {
    width: 45%;
}

.person-name {
    font-weight: 600;
}

.date {
    font-size: 14px;
    color: rgb(120, 111, 112)
}

.comment-content {
    text-align: start;
}