.alertArea {
    padding-bottom: 9px !important;
    padding-top: 9px !important;
    margin-bottom: 0px !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#row {
    /* width: 60%; */
    display: flex;
}

#message {
    margin: auto
}

#btnCustomized {
    /* flex-basis:33.33%; */
    margin-left: 10px;
    padding: 5px 5px !important;
}