.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navButton {
  background-color: transparent;
  box-shadow: none;
  color: black;
  font-size: 14px;
  height: 49px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Products, News etc */
.section-header {
  font-size: 2rem;
  color: rgb(30, 50, 100);
}

.section-wrapper {
  margin-left: 64px;
  margin-right: 64px;
}



@media (max-width: 1050px) {

  .section-wrapper {
    margin-left: 36px;
    margin-right: 36px;
  }


}


@media (max-width: 650px) {

  .section-wrapper {
    margin-left: 12px;
    margin-right: 12px;
  }


}

@media (max-width: 400px) {

  /* .section-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  } */


}