.App {
  text-align: center;
}

#navButton {
  background-color: transparent;
  box-shadow: none;
  color: black;
  font-size: 14px;
  height: 49px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 0px;
  margin-right: 0px;
}

/* .contentWrapper {

} */

